:root {
  --background: #160C17;
  --surface: #201022;
  --text-primary: white;
  --text-secondary: #aaa7a7;
  --border: white;
  --accent: #45164A; 
  --danger: #c20c0c;
  --warning:#f3a514;
  --success:#0bd30b;
  --category: var(--accent)
}

[data-theme="light"] {
  --background: white;
  --surface: #aaa7a7;
  --text-primary: #160C17;
  --text-secondary: #402b42;
  --border: #160C17;
  --accent: #45164A;
  --danger: #c20c0c;
  --warning:#f3a514;
  --success:#0bd30b;
  --category: var(--accent)
}

nav li:hover {
  background-color: var(--accent); 
}

nav li.active {
  background-color: var(--accent);
}

body {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    background-color: var(--background);
    color: var(--text-primary);
    display: flex;
    gap: 2rem;
    overflow: hidden;
    height: 100vh;
}

.logo {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 1.5rem;
    text-shadow: 
        0 0 10px #45164A,
        0 0 20px #45164A,
        0 0 30px #45164A;
    margin: 0;
    padding: 0.8rem;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    border-right: 1px solid var(--border);
    width: 185px; 
    background-color: var(--surface); 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
}

aside a {
    text-decoration: none;
    color: var(--text-primary);
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
}

aside a svg {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
    padding: 34px;
    overflow-y: auto;
}

header {
    display: flex;
    justify-content: space-between;
}

#system {
    border-top: 1px solid var(--border);
    margin-top: auto;
}

.close-sidebar {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: none; border: none;
    color: var(--text-primary);
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--border);
    width: 100%;
}

.close-sidebar:hover {
    background-color: var(--accent);
}

aside.collapsed {
    width: 60px;
}

aside.collapsed a svg {
    display: flex;
}

aside.collapsed .label {
    display: none;
}

.logo svg {
    display: none;
}

aside.collapsed .logo svg {
    display: flex;
}

aside.collapsed a {
    justify-content: center;
}

aside.collapsed .close-sidebar {
    justify-content: center;
}

.close-sidebar svg {
    transition: transform 0.3s ease;
}

aside.collapsed .close-sidebar svg {
    transform: rotate(180deg);
}