[data-theme="light"] {
    --background: #ffffff;
    --surface: #f7f1f8;
    --text-primary: #201022;
    --text-secondary: #5d4a60;
    --border: #cdbdce;
}

[data-theme="light"] aside nav li,
[data-theme="light"] .close-sidebar {
    background-color: white;
}

[data-theme="light"] aside nav li:hover,
[data-theme="light"] .close-sidebar:hover,
[data-theme="light"] #create-task:hover,
[data-theme="light"] #theme-toggle:hover,
[data-theme="light"] #task-button-filter:hover {
    background-color: var(--accent);
    color: white;
}

[data-theme="light"] aside nav li:hover a {
    color: white;
}

[data-theme="light"] #create-task,
[data-theme="light"] #theme-toggle, 
[data-theme="light"] #task-button-filter {
    background-color: white;
    color: var(--text-primary);
    border: 0.2px solid black;
}

[data-theme="light"] .logo {
    text-shadow: none;
}

[data-theme="light"] aside {
    background-color: white;
}

[data-theme="light"] input[type="checkbox"] {
    accent-color: var(--accent);
}

[data-theme="light"] #task-toolbar {
    border: 0.2px solid black;
}

[data-theme="light"] input[type="date"]::-webkit-calendar-picker-indicator,
[data-theme="light"] input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(0);
}

[data-theme="light"] .task-card {
    border: 0.2px solid black;
    background-color: var(--surface);
}

[data-theme="light"] .task-card-title {
    color: var(--text-primary);
}

[data-theme="light"] .task-card-date {
    color: var(--text-primary);
}

[data-theme="light"] .task-card-time {
    color: var(--text-secondary);
}

[data-theme="light"] .badge-category {
    border: 0.2px solid black;
    color: black;
}

[data-theme="light"] .tasks-empty {
    color: var(--text-secondary);
}

[data-theme="light"] .task-card:hover {
    box-shadow: 0 8px 20px rgba(148, 87, 235, 0.15);
    border-color: #160C17;
}

[data-theme="light"] .btn-status {
    background: var(--surface);
    border: 0.2px solid black;
    color: black;
}

[data-theme="light"] .btn-status:hover {
    background-color: var(--accent);
    color: white;
}