.back-to-login {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    border-color: 0.2px solid white;
    width: 40px;
}

.page-transition.visible {
    opacity: 1;
}

.title {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 12rem;
    text-shadow:
        0 0 10px #45164A,
        0 0 20px #45164A,
        0 0 30px #45164A;
    margin: 0;
}

.container {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.container.visible {
    opacity: 1;
}

.password-wrapper .warning-icon {
    right: 50px;
    top: 27px;
}