.login-button {
    padding: 16px 20px;
    border: 0.2px solid white;
    border-radius: 8px;
    background-color: #cccccc;
    color: #333333;
    cursor: not-allowed;
    font-family: "Inter", sans-serif;
}

.login-button.active {
    background-color: #45164A;
    cursor: pointer;
}

.back-to-login {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    border-color: 0.2px solid white;
    width: 40px;
}

.page-transition.visible {
    opacity: 1;
}